@charset utf-8";
body{
background-color:green;
}
.breadcrumbs li{
  display:inline;
  list-style-type:none;
  
}
.breadcrumbs li:before{
  content:">";
}
.breadcrumbs li:first-child:before{
  content:"";
}
  
 #gnav  u1{
   overflow:hidden;
}
#gnav li{
  foloat:left;
  width:150px;
  border-right:white 1px solid;
  list=style-typ:none;
}
#gnav li:first-child{
  border-left:white 1px solid;
}
